.root
	flex-shrink: 0
	width: 500px
	border: 1px solid #ebebeb
	border-radius: 5px
	text-align: left
	display: flex
	flex-direction: column
	.tab-box
		height: 60px
		line-height: 60px
		background-color: #f5f5f5
		h2
			padding-left: 30px
			font-size: 18px
			color: #333
	.content-box
		flex-grow: 1
		padding: 20px 0 0 0
		form
			padding-left: 30px
			.el-row
				margin-bottom: 20px
			.el-col
				line-height: 30px
				display: flex
				&:not(.btn-col)
					justify-content: flex-end
			label
				display: block
				padding-right: 16px
				text-align: right
				font-size: 14px
				color: #666
				white-space: nowrap
			.el-input
				width: 125px
				margin-right: 30px
				flex-shrink: 0
			.el-select
				width: 125px
				margin-right: 30px
				flex-shrink: 0
			.el-textarea
				width: 360px
				margin-right: 30px
				flex-shrink: 0
			.el-button
				line-height: 34px
				padding: 0 34px
				margin-left: 78px
			/deep/
				input
					height: 30px
					line-height: 30px
					padding: 0 10px
					color: #333
				textarea
					resize: none
					height: 80px
					line-height: 16px
					padding: 6px 10px
					color: #333
				.el-input__icon
					line-height: 30px
		.more-box
			padding-left: 30px
			border-top: 1px solid #ebebeb
			h3
				font-size: 18px
				line-height: 18px
				padding: 20px 0
				color: #333
			ul
				li
					margin-top: 20px
					font-size: 14px
					line-height: 14px
					display: flex
					label
						color: #999
						display: block
						width: 80px
						padding-right: 20px
						text-align: right
					a
						color: #0381ff
						text-decoration: underline
						&:hover
							text-decoration: none
					p
						color: #333