.root
	text-align: left
	// height: 1000px
	.cont_wrap
		width: 100%
		display: flex
		.left_menus
			width: 200px
			ul
				li
					width: 150px
					height: 40px
					line-height: 40px
					font-size: 15px
					color: #333
					background-color: #fff
					border-left: 4px solid transparent
					text-align: left
					padding-left: 20px
					cursor: pointer
					&.active,
					&:hover
						color: #0099ff
						background-color: #fafafa
					&.active
						cursor: default
						border-color: #0099ff
		.right_cont
			h2
				width: 100%
				height: 55px
				line-height: 55px
				font-size: 16px
				color: #333333
				font-weight: bold
			[data-type="0"]
				.top_tlt
					height: 96px
					line-height: 96px
				.cont_box
					display: flex
					.left
						width: 100px
						text-align: center
					.right
						textarea
							width: 500px
							height: 200px
							resize: none
							border: 1px solid #ebebeb
							border-radius: 6px
							line-height: 20px
							padding: 10px
			[data-type="1"]
				.cont_box
					display: flex
					.left
						width: 120px
					.right
						.el-switch
							width: 56px
							height: 24px
							border-radius: 12px
							position: relative
							cursor: pointer
							&:before
								content: ''
								position: absolute
								width: 16px
								height: 16px
								border-radius: 50%
							&.is_open
								background: #2297F1
								&:before
									background: #ffffff
									top: 3px
									right: 4px
							&.is_close
								background: #EEEEEE
								&:before
									background: #999999
									top: 4px
									left: 4px
						.districtOne
							margin: 40px 0
							.radio
								display: inline-block
								width: 20px
								height: 20px
								border: 1px solid #cccccc
								border-radius: 50%
								position: relative
								cursor: pointer
								margin-right: 11px
								&:before
									content: ''
									position: absolute
									top: 3px 
									left: 3px
									width: 12px
									height: 12px
									border-radius: 50%
									background: #cccccc
							.actived_radio
								border: 1px solid #2297F1
								&:before
									background: #2297F1
							.radio_word
								position: relative
								top: -5px
								font-size: 16px
								color: #333333
						.districtTwo
							.checked_box
								width: 20px
								height: 20px
								cursor: pointer
							.isChecked
								background: #0783ff
								&:after
									left: 3px
									bottom: 7px
									width: 9px
									height: 5px
									border: 2px solid #ffffff
									border-top-color: transparent
									border-right-color: transparent
							.check_word
								font-size: 16px
								color: #333333
								position: relative
								top: -3px

			.btn_line
				display: flex
				justify-content: center
				padding-left: 240px
				position: fixed
				right: 0
				width: 100%
				height: 80px
				padding-top: 20px
				bottom: 40px
				box-shadow: 0 -5px 10px rgba(193, 193, 193, 0.2)
				.recover_default_btn
					width: 140px
					height: 36px
					line-height: 36px
					text-align: center
					font-size: 16px
					color: #0083FF
					border: 1px solid #0083FF
					border-radius: 5px
					margin-right: 20px
					cursor: pointer
				.save_btn
					width: 100px
					height: 36px
					line-height: 36px
					padding: 0
					text-align: center
					color: #ffffff
					background: #0083FF	
					font-size: 16px	
					border-radius: 5px
					cursor: pointer
				.save_btn.is-disabled
					background-color: #a0cfff
					border-color: #a0cfff
					cursor: not-allowed
.popup
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.5)
	z-index: 20
	.pop_cont
		width: 380px
		height: 212px
		background: #ffffff
		position: absolute
		left: 50%
		top: 50%
		margin-left: -190px
		margin-top: -106px
		border-radius: 5px
		color: #333333
		z-index: 21
		.tlt
			height: 56px
			line-height: 56px
			text-align: center
			font-size: 16px
		.cont
			width: 100%
			padding: 32px 0
			text-align: center
			font-size: 20px
		.btns
			padding: 10px 0 0 30px
		.popBtn
			width: 140px
			height: 36px
			line-height: 36px
			padding: 0	
			text-align: center
			border-radius: 5px
			font-size: 16px
			// cursor: pointer
		.cancel_btn
			border: 1px solid #0083ff
			color: #0083ff
		.save_btn
			background: #0083ff
			color: #ffffff

