.root
	text-align: left
	// height: 1000px
	.cont_wrap
		width: 100%
		display: flex
		.left_menus
			width: 200px
			ul
				li
					width: 150px
					height: 40px
					line-height: 40px
					font-size: 16px
					color: #333
					background-color: #fff
					border-left: 4px solid transparent
					text-align: left
					padding-left: 20px
					cursor: pointer
					&.active,
					&:hover
						color: #0099ff
						background-color: #fafafa
					&.active
						cursor: default
						border-color: #0099ff
		.right_cont
			h2
				width: 100%
				height: 55px
				line-height: 55px
				font-size: 20px
				color: #333333
				font-weight: bold
			[data-type="0"]
				.top_tlt
					height: 96px
					line-height: 96px
				.cont_box
					display: flex
					.left
						width: 100px
						text-align: center
						font-size: 16px
					.right
						position: relative
						textarea
							width: 450px
							height: 200px
							resize: none
							border: 1px solid #cccccc
							border-radius: 5px
							line-height: 20px
							padding: 10px
						.icon-attention
							position: absolute
							bottom: 4px
							right: -20px
							color: #FF0000
			[data-type="1"]
				.cont_box
					display: flex
					.left
						width: 120px
						font-size: 16px
					.right
						.districtOne
							margin: 40px 0
							.radio
								display: inline-block
								width: 20px
								height: 20px
								border: 1px solid #cccccc
								border-radius: 50%
								position: relative
								margin-right: 11px
								&:before
									content: ''
									position: absolute
									top: 3px 
									left: 3px
									width: 12px
									height: 12px
									border-radius: 50%
									background: #cccccc
							.actived_radio
								border: 1px solid #2297F1
								&:before
									background: #2297F1
							.radio_word
								position: relative
								top: -5px
								font-size: 16px
								color: #333333
						.districtTwo
							.checked_box
								width: 20px
								height: 20px
								cursor: pointer
							.isChecked
								background: #0783ff
								&:after
									left: 3px
									bottom: 7px
									width: 9px
									height: 5px
									border: 2px solid #ffffff
									border-top-color: transparent
									border-right-color: transparent
							.check_word
								font-size: 16px
								color: #333333
								position: relative
								top: -3px
