.f18
	font-size: 18px
.pointer
	cursor: pointer

.center_box
	display: flex
.center
	text-align: left
.marb18
	margin-bottom: 20px
.left_box
	border: 1px solid #EBEBEB
	width: 600px
	margin-right: 20px
	border-radius: 5px 
.title_details
	background: #F5F5F5
	line-height: 60px
	padding: 0 40px
	margin-bottom: 35px
	color: #333333
.lable_box
	margin-top: 25px
	label
		display: inline-block
		line-height: 30px
		margin-left: 60px
		margin-right: 20px
		i
			color: #FF4040
			margin-right: 12px
		span
			color: #666666
			width: 65px
			display: inline-block
	.el-input,.el-select
		width: 200px
		display: inline-block
	.citeBox
		margin-left: 160px
		margin-top: 12px
		color: #999999
	/deep/
		.el-input__icon
			line-height: 30px
		input
			height: 30px
			line-height: 30px
			padding: 0 10px
			color: #333
.cite-button
	text-align: center
	margin-top: 40px
	margin-bottom: 50px	
	.el-button.cancleBtn	
		line-height: 36px
		width: 100px
		padding: 0
		background: #fff
		color: #0080FF
		border: 1px solid #0080FF
		&:hover
			background-color: #ecf5ff
	.el-button.saveBtn
		line-height: 36px
		width: 100px
		padding: 0
		background: #0080FF
		color: #fff
		border: 1px solid #0080FF
		&:hover
			background-color: #50a8ff
			border-color: #50a8ff
.right_box
	border: 1px solid #EBEBEB
	width: 600px
	border-radius: 5px 
	.label_chidren
		color: #666666
		margin-bottom: 20px
		display: inline-block
		margin-right: 60px
		font-size: 16px
	.childrenName
		color: #999999
		font-size: 16px
		margin-bottom: 5px
	.citeBox
		margin: 40px 0px 40px  40px
		.label_check
			color: #666666
			margin-bottom: 20px
			display: inline-block
			margin-right: 40px
			margin-left: 20px
		.title
			color: #333333
			font-size: 16px
			margin: 40px 0 20px
		.cite
			color: #999999
			font-size: 16px
			margin: 40px 0 20px
		/deep/
			.el-checkbox+.el-checkbox
				margin-bottom: 15px
				margin-left: 0
			.el-checkbox__label
				font-size: 16px
			.el-checkbox
				margin-right: 40px
			.el-checkbox__input.is-checked+.el-checkbox__label
				color: #666666
.icon-checkbox-1:before
	color: #0783FF
.noallowed
	cursor: not-allowed
	.icon-checkbox-1:before,.icon-checkbox-0:before
		color: #ccc
.inputBox
	width: 200px
	height: 30px
	margin-left: 35px

.rel
	position: relative

.checkboxInfo
	display: inline-block
	margin-left: 10px
.inputCheck
	position: absolute
	opacity: 0
	left: 0
	right: 0
/deep/
	.el-checkbox
		font-family: "icon" !important
		.el-checkbox__inner
			border: 0
			vertical-align: super
			background-color: transparent
			position: relative
		.el-checkbox__inner:after
			content: "\E620"
			transform: rotate(0)
		.is-checked
			color: #0783FF
			.el-checkbox__inner:after
				content: "\E621"
				transform: rotate(0)


