.root
	text-align: left

.pointer
	cursor: pointer

.f18
	font-size: 18px
	margin-bottom: 20px

.ul_li_fl
	li
		float: left
.fr
	float: right

.addServe
	margin-top: 10px

.addspan
	line-height: 35px
	padding: 0 13px
	display: inline-block
	border-radius: 5px
	border: 1px solid #595959
	&:hover
		background: #e8e8e8
.popus
	z-index: 10
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	background: #000
	opacity: .5

.alertBox
	z-index: 12
	width: 360px
	height: 200px
	background: #fff
	position: absolute
	top: 50%
	left: 50%
	border-radius: 5px
	margin-top: -100px
	margin-left: -180px

.zindexBox
	position: relative
	z-index: 5
.clears:after
	content: ''
	display: block
	clear: both
.addground_title
	position: relative
	width: 100%
	left: 0
	padding: 10px
	font-weight: normal
	margin-bottom: 20px
	font-size: 20px
	color:#333333
	border-bottom: 1px solid #F5F5F5


.alertCenter
	padding: 0 60px
	.btnBox
		margin: 20px 0 
			
.center_box
	display: flex
	font-size: 16px
	height: 800px

	.left_box
		display: inline-block
	.left_ul
		border: 1px solid #EBEBEB
		height: 800px
		width: 360px
		border-radius: 5px
		li
			height: 60px
			padding: 0 40px
			line-height: 60px
			border-bottom: 1px solid #E6E6E6
		.resDatali
			padding: 0 20px 0 40px
			&:hover
				background: #fbfbfb
		.first_li
			background: #F5F5F5
			
		.all_li
			background: #FAFAFA
	.btn_gobal
		font-size: 12px
		text-align: center
		line-height: 22px
		width: 40px
		height: 22px
		border-radius: 5px
		display: inline-block
		font-weight: normal
		margin-right: 10px
	.edit_btn
		color:#0083FF
		border: 1px solid #0083FF
		&:hover
			background: #0083FF
			color: #fff
	.disa_btn
		color:#FF7733
		border: 1px solid #FF7733 
		&:hover
			background: #FF7733
			color: #fff
	.delete_btn
		color:#FF5959
		border: 1px solid #FF5959
		&:hover
			background: #FF5959
			color: #fff
	.right_box
		margin-left: 20px
		vertical-align: top
		display: inline-block
		flex: 1
		border: 1px solid #EBEBEB
		border-radius: 5px
		.title_ul
			padding: 0 60px
			background: #F5F5F5
			line-height: 60px
			li
				margin-right: 60px
		.second_ul_box
			li
				padding: 10px 0
				border-bottom: 1px solid #E6E6E6
			li.fisrt_li
				background: #FAFAFA
				// border-bottom: 1px solid #EBEBEB
			.li_span_list
				display: flex
				span
					flex: 1
			.center_li
				color: #999999
				&:hover
					color: inherit
			li span
				text-align: center
				display: inline-block
				
.overBox
	height: 580px
	max-height: 580px
	overflow-y: auto
	overflow-x: hidden
